<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>©</key>
	<string>:copyright:</string>
	<key>®</key>
	<string>:registered:</string>
	<key>‼</key>
	<string>:bangbang:</string>
	<key>⁉</key>
	<string>:interrobang:</string>
	<key>™</key>
	<string>:tm:</string>
	<key>ℹ</key>
	<string>:information_source:</string>
	<key>↔</key>
	<string>:left_right_arrow:</string>
	<key>↕</key>
	<string>:arrow_up_down:</string>
	<key>↖</key>
	<string>:arrow_upper_left:</string>
	<key>↗</key>
	<string>:arrow_upper_right:</string>
	<key>↘</key>
	<string>:arrow_lower_right:</string>
	<key>↙</key>
	<string>:arrow_lower_left:</string>
	<key>↩</key>
	<string>:leftwards_arrow_with_hook:</string>
	<key>↪</key>
	<string>:arrow_right_hook:</string>
	<key>⌚</key>
	<string>:watch:</string>
	<key>⌛</key>
	<string>:hourglass:</string>
	<key>⏩</key>
	<string>:fast_forward:</string>
	<key>⏪</key>
	<string>:rewind:</string>
	<key>⏫</key>
	<string>:arrow_double_up:</string>
	<key>⏬</key>
	<string>:arrow_double_down:</string>
	<key>⏰</key>
	<string>:alarm_clock:</string>
	<key>⏳</key>
	<string>:hourglass_flowing_sand:</string>
	<key>Ⓜ</key>
	<string>:m:</string>
	<key>▪</key>
	<string>:black_small_square:</string>
	<key>▫</key>
	<string>:white_small_square:</string>
	<key>▶</key>
	<string>:arrow_forward:</string>
	<key>◀</key>
	<string>:arrow_backward:</string>
	<key>◻</key>
	<string>:white_medium_square:</string>
	<key>◼</key>
	<string>:black_medium_square:</string>
	<key>◽</key>
	<string>:white_medium_small_square:</string>
	<key>◾</key>
	<string>:black_medium_small_square:</string>
	<key>☀</key>
	<string>:sunny:</string>
	<key>☁</key>
	<string>:cloud:</string>
	<key>☎</key>
	<string>:phone:</string>
	<key>☑</key>
	<string>:ballot_box_with_check:</string>
	<key>☔</key>
	<string>:umbrella:</string>
	<key>☕</key>
	<string>:coffee:</string>
	<key>☝</key>
	<string>:point_up:</string>
	<key>☺</key>
	<string>:relaxed:</string>
	<key>♈</key>
	<string>:aries:</string>
	<key>♉</key>
	<string>:taurus:</string>
	<key>♊</key>
	<string>:gemini:</string>
	<key>♋</key>
	<string>:cancer:</string>
	<key>♌</key>
	<string>:leo:</string>
	<key>♍</key>
	<string>:virgo:</string>
	<key>♎</key>
	<string>:libra:</string>
	<key>♏</key>
	<string>:scorpius:</string>
	<key>♐</key>
	<string>:sagittarius:</string>
	<key>♑</key>
	<string>:capricorn:</string>
	<key>♒</key>
	<string>:aquarius:</string>
	<key>♓</key>
	<string>:pisces:</string>
	<key>♠</key>
	<string>:spades:</string>
	<key>♣</key>
	<string>:clubs:</string>
	<key>♥</key>
	<string>:hearts:</string>
	<key>♦</key>
	<string>:diamonds:</string>
	<key>♨</key>
	<string>:hotsprings:</string>
	<key>♻</key>
	<string>:recycle:</string>
	<key>♿</key>
	<string>:wheelchair:</string>
	<key>⚓</key>
	<string>:anchor:</string>
	<key>⚠</key>
	<string>:warning:</string>
	<key>⚡</key>
	<string>:zap:</string>
	<key>⚪</key>
	<string>:white_circle:</string>
	<key>⚫</key>
	<string>:black_circle:</string>
	<key>⚽</key>
	<string>:soccer:</string>
	<key>⚾</key>
	<string>:baseball:</string>
	<key>⛄</key>
	<string>:snowman:</string>
	<key>⛅</key>
	<string>:partly_sunny:</string>
	<key>⛎</key>
	<string>:ophiuchus:</string>
	<key>⛔</key>
	<string>:no_entry:</string>
	<key>⛪</key>
	<string>:church:</string>
	<key>⛲</key>
	<string>:fountain:</string>
	<key>⛳</key>
	<string>:golf:</string>
	<key>⛵</key>
	<string>:boat:</string>
	<key>⛺</key>
	<string>:tent:</string>
	<key>⛽</key>
	<string>:fuelpump:</string>
	<key>✂</key>
	<string>:scissors:</string>
	<key>✅</key>
	<string>:white_check_mark:</string>
	<key>✈</key>
	<string>:airplane:</string>
	<key>✉</key>
	<string>:email:</string>
	<key>✊</key>
	<string>:fist:</string>
	<key>✋</key>
	<string>:hand:</string>
	<key>✌</key>
	<string>:v:</string>
	<key>✏</key>
	<string>:pencil2:</string>
	<key>✒</key>
	<string>:black_nib:</string>
	<key>✔</key>
	<string>:heavy_check_mark:</string>
	<key>✖</key>
	<string>:heavy_multiplication_x:</string>
	<key>✨</key>
	<string>:sparkles:</string>
	<key>✳</key>
	<string>:eight_spoked_asterisk:</string>
	<key>✴</key>
	<string>:eight_pointed_black_star:</string>
	<key>❄</key>
	<string>:snowflake:</string>
	<key>❇</key>
	<string>:sparkle:</string>
	<key>❌</key>
	<string>:x:</string>
	<key>❎</key>
	<string>:negative_squared_cross_mark:</string>
	<key>❓</key>
	<string>:question:</string>
	<key>❔</key>
	<string>:grey_question:</string>
	<key>❕</key>
	<string>:grey_exclamation:</string>
	<key>❗</key>
	<string>:exclamation:</string>
	<key>❤</key>
	<string>:heart:</string>
	<key>➕</key>
	<string>:heavy_plus_sign:</string>
	<key>➖</key>
	<string>:heavy_minus_sign:</string>
	<key>➗</key>
	<string>:heavy_division_sign:</string>
	<key>➡</key>
	<string>:arrow_right:</string>
	<key>➰</key>
	<string>:curly_loop:</string>
	<key>➿</key>
	<string>:loop:</string>
	<key>⤴</key>
	<string>:arrow_heading_up:</string>
	<key>⤵</key>
	<string>:arrow_heading_down:</string>
	<key>⬅</key>
	<string>:arrow_left:</string>
	<key>⬆</key>
	<string>:arrow_up:</string>
	<key>⬇</key>
	<string>:arrow_down:</string>
	<key>⬛</key>
	<string>:black_large_square:</string>
	<key>⬜</key>
	<string>:white_large_square:</string>
	<key>⭐</key>
	<string>:star:</string>
	<key>⭕</key>
	<string>:o:</string>
	<key>〰</key>
	<string>:wavy_dash:</string>
	<key>〽</key>
	<string>:part_alternation_mark:</string>
	<key>㊗</key>
	<string>:congratulations:</string>
	<key>㊙</key>
	<string>:secret:</string>
	<key>🀄</key>
	<string>:mahjong:</string>
	<key>🃏</key>
	<string>:black_joker:</string>
	<key>🅰</key>
	<string>:a:</string>
	<key>🅱</key>
	<string>:b:</string>
	<key>🅾</key>
	<string>:o2:</string>
	<key>🅿</key>
	<string>:parking:</string>
	<key>🆎</key>
	<string>:ab:</string>
	<key>🆑</key>
	<string>:cl:</string>
	<key>🆒</key>
	<string>:cool:</string>
	<key>🆓</key>
	<string>:free:</string>
	<key>🆔</key>
	<string>:id:</string>
	<key>🆕</key>
	<string>:new:</string>
	<key>🆖</key>
	<string>:ng:</string>
	<key>🆗</key>
	<string>:ok:</string>
	<key>🆘</key>
	<string>:sos:</string>
	<key>🆙</key>
	<string>:up:</string>
	<key>🆚</key>
	<string>:vs:</string>
	<key>🈁</key>
	<string>:koko:</string>
	<key>🈂</key>
	<string>:sa:</string>
	<key>🈚</key>
	<string>:u7121:</string>
	<key>🈯</key>
	<string>:u6307:</string>
	<key>🈲</key>
	<string>:u7981:</string>
	<key>🈳</key>
	<string>:u7a7a:</string>
	<key>🈴</key>
	<string>:u5408:</string>
	<key>🈵</key>
	<string>:u6e80:</string>
	<key>🈶</key>
	<string>:u6709:</string>
	<key>🈷</key>
	<string>:u6708:</string>
	<key>🈸</key>
	<string>:u7533:</string>
	<key>🈹</key>
	<string>:u5272:</string>
	<key>🈺</key>
	<string>:u55b6:</string>
	<key>🉐</key>
	<string>:ideograph_advantage:</string>
	<key>🉑</key>
	<string>:accept:</string>
	<key>🌀</key>
	<string>:cyclone:</string>
	<key>🌁</key>
	<string>:foggy:</string>
	<key>🌂</key>
	<string>:closed_umbrella:</string>
	<key>🌃</key>
	<string>:night_with_stars:</string>
	<key>🌄</key>
	<string>:sunrise_over_mountains:</string>
	<key>🌅</key>
	<string>:sunrise:</string>
	<key>🌆</key>
	<string>:city_sunset:</string>
	<key>🌇</key>
	<string>:city_sunrise:</string>
	<key>🌈</key>
	<string>:rainbow:</string>
	<key>🌉</key>
	<string>:bridge_at_night:</string>
	<key>🌊</key>
	<string>:ocean:</string>
	<key>🌋</key>
	<string>:volcano:</string>
	<key>🌌</key>
	<string>:milky_way:</string>
	<key>🌍</key>
	<string>:earth_africa:</string>
	<key>🌎</key>
	<string>:earth_americas:</string>
	<key>🌏</key>
	<string>:earth_asia:</string>
	<key>🌐</key>
	<string>:globe_with_meridians:</string>
	<key>🌑</key>
	<string>:new_moon:</string>
	<key>🌒</key>
	<string>:waxing_crescent_moon:</string>
	<key>🌓</key>
	<string>:first_quarter_moon:</string>
	<key>🌔</key>
	<string>:moon:</string>
	<key>🌕</key>
	<string>:full_moon:</string>
	<key>🌖</key>
	<string>:waning_gibbous_moon:</string>
	<key>🌗</key>
	<string>:last_quarter_moon:</string>
	<key>🌘</key>
	<string>:waning_crescent_moon:</string>
	<key>🌙</key>
	<string>:crescent_moon:</string>
	<key>🌚</key>
	<string>:new_moon_with_face:</string>
	<key>🌛</key>
	<string>:first_quarter_moon_with_face:</string>
	<key>🌜</key>
	<string>:last_quarter_moon_with_face:</string>
	<key>🌝</key>
	<string>:full_moon_with_face:</string>
	<key>🌞</key>
	<string>:sun_with_face:</string>
	<key>🌟</key>
	<string>:star2:</string>
	<key>🌠</key>
	<string>:stars:</string>
	<key>🌰</key>
	<string>:chestnut:</string>
	<key>🌱</key>
	<string>:seedling:</string>
	<key>🌲</key>
	<string>:evergreen_tree:</string>
	<key>🌳</key>
	<string>:deciduous_tree:</string>
	<key>🌴</key>
	<string>:palm_tree:</string>
	<key>🌵</key>
	<string>:cactus:</string>
	<key>🌷</key>
	<string>:tulip:</string>
	<key>🌸</key>
	<string>:cherry_blossom:</string>
	<key>🌹</key>
	<string>:rose:</string>
	<key>🌺</key>
	<string>:hibiscus:</string>
	<key>🌻</key>
	<string>:sunflower:</string>
	<key>🌼</key>
	<string>:blossom:</string>
	<key>🌽</key>
	<string>:corn:</string>
	<key>🌾</key>
	<string>:ear_of_rice:</string>
	<key>🌿</key>
	<string>:herb:</string>
	<key>🍀</key>
	<string>:four_leaf_clover:</string>
	<key>🍁</key>
	<string>:maple_leaf:</string>
	<key>🍂</key>
	<string>:fallen_leaf:</string>
	<key>🍃</key>
	<string>:leaves:</string>
	<key>🍄</key>
	<string>:mushroom:</string>
	<key>🍅</key>
	<string>:tomato:</string>
	<key>🍆</key>
	<string>:eggplant:</string>
	<key>🍇</key>
	<string>:grapes:</string>
	<key>🍈</key>
	<string>:melon:</string>
	<key>🍉</key>
	<string>:watermelon:</string>
	<key>🍊</key>
	<string>:tangerine:</string>
	<key>🍋</key>
	<string>:lemon:</string>
	<key>🍌</key>
	<string>:banana:</string>
	<key>🍍</key>
	<string>:pineapple:</string>
	<key>🍎</key>
	<string>:apple:</string>
	<key>🍏</key>
	<string>:green_apple:</string>
	<key>🍐</key>
	<string>:pear:</string>
	<key>🍑</key>
	<string>:peach:</string>
	<key>🍒</key>
	<string>:cherries:</string>
	<key>🍓</key>
	<string>:strawberry:</string>
	<key>🍔</key>
	<string>:hamburger:</string>
	<key>🍕</key>
	<string>:pizza:</string>
	<key>🍖</key>
	<string>:meat_on_bone:</string>
	<key>🍗</key>
	<string>:poultry_leg:</string>
	<key>🍘</key>
	<string>:rice_cracker:</string>
	<key>🍙</key>
	<string>:rice_ball:</string>
	<key>🍚</key>
	<string>:rice:</string>
	<key>🍛</key>
	<string>:curry:</string>
	<key>🍜</key>
	<string>:ramen:</string>
	<key>🍝</key>
	<string>:spaghetti:</string>
	<key>🍞</key>
	<string>:bread:</string>
	<key>🍟</key>
	<string>:fries:</string>
	<key>🍠</key>
	<string>:sweet_potato:</string>
	<key>🍡</key>
	<string>:dango:</string>
	<key>🍢</key>
	<string>:oden:</string>
	<key>🍣</key>
	<string>:sushi:</string>
	<key>🍤</key>
	<string>:fried_shrimp:</string>
	<key>🍥</key>
	<string>:fish_cake:</string>
	<key>🍦</key>
	<string>:icecream:</string>
	<key>🍧</key>
	<string>:shaved_ice:</string>
	<key>🍨</key>
	<string>:ice_cream:</string>
	<key>🍩</key>
	<string>:doughnut:</string>
	<key>🍪</key>
	<string>:cookie:</string>
	<key>🍫</key>
	<string>:chocolate_bar:</string>
	<key>🍬</key>
	<string>:candy:</string>
	<key>🍭</key>
	<string>:lollipop:</string>
	<key>🍮</key>
	<string>:custard:</string>
	<key>🍯</key>
	<string>:honey_pot:</string>
	<key>🍰</key>
	<string>:cake:</string>
	<key>🍱</key>
	<string>:bento:</string>
	<key>🍲</key>
	<string>:stew:</string>
	<key>🍳</key>
	<string>:egg:</string>
	<key>🍴</key>
	<string>:fork_and_knife:</string>
	<key>🍵</key>
	<string>:tea:</string>
	<key>🍶</key>
	<string>:sake:</string>
	<key>🍷</key>
	<string>:wine_glass:</string>
	<key>🍸</key>
	<string>:cocktail:</string>
	<key>🍹</key>
	<string>:tropical_drink:</string>
	<key>🍺</key>
	<string>:beer:</string>
	<key>🍻</key>
	<string>:beers:</string>
	<key>🍼</key>
	<string>:baby_bottle:</string>
	<key>🎀</key>
	<string>:ribbon:</string>
	<key>🎁</key>
	<string>:gift:</string>
	<key>🎂</key>
	<string>:birthday:</string>
	<key>🎃</key>
	<string>:jack_o_lantern:</string>
	<key>🎄</key>
	<string>:christmas_tree:</string>
	<key>🎅</key>
	<string>:santa:</string>
	<key>🎆</key>
	<string>:fireworks:</string>
	<key>🎇</key>
	<string>:sparkler:</string>
	<key>🎈</key>
	<string>:balloon:</string>
	<key>🎉</key>
	<string>:tada:</string>
	<key>🎊</key>
	<string>:confetti_ball:</string>
	<key>🎋</key>
	<string>:tanabata_tree:</string>
	<key>🎌</key>
	<string>:crossed_flags:</string>
	<key>🎍</key>
	<string>:bamboo:</string>
	<key>🎎</key>
	<string>:dolls:</string>
	<key>🎏</key>
	<string>:flags:</string>
	<key>🎐</key>
	<string>:wind_chime:</string>
	<key>🎑</key>
	<string>:rice_scene:</string>
	<key>🎒</key>
	<string>:school_satchel:</string>
	<key>🎓</key>
	<string>:mortar_board:</string>
	<key>🎠</key>
	<string>:carousel_horse:</string>
	<key>🎡</key>
	<string>:ferris_wheel:</string>
	<key>🎢</key>
	<string>:roller_coaster:</string>
	<key>🎣</key>
	<string>:fishing_pole_and_fish:</string>
	<key>🎤</key>
	<string>:microphone:</string>
	<key>🎥</key>
	<string>:movie_camera:</string>
	<key>🎦</key>
	<string>:cinema:</string>
	<key>🎧</key>
	<string>:headphones:</string>
	<key>🎨</key>
	<string>:art:</string>
	<key>🎩</key>
	<string>:tophat:</string>
	<key>🎪</key>
	<string>:circus_tent:</string>
	<key>🎫</key>
	<string>:ticket:</string>
	<key>🎬</key>
	<string>:clapper:</string>
	<key>🎭</key>
	<string>:performing_arts:</string>
	<key>🎮</key>
	<string>:video_game:</string>
	<key>🎯</key>
	<string>:dart:</string>
	<key>🎰</key>
	<string>:slot_machine:</string>
	<key>🎱</key>
	<string>:8ball:</string>
	<key>🎲</key>
	<string>:game_die:</string>
	<key>🎳</key>
	<string>:bowling:</string>
	<key>🎴</key>
	<string>:flower_playing_cards:</string>
	<key>🎵</key>
	<string>:musical_note:</string>
	<key>🎶</key>
	<string>:notes:</string>
	<key>🎷</key>
	<string>:saxophone:</string>
	<key>🎸</key>
	<string>:guitar:</string>
	<key>🎹</key>
	<string>:musical_keyboard:</string>
	<key>🎺</key>
	<string>:trumpet:</string>
	<key>🎻</key>
	<string>:violin:</string>
	<key>🎼</key>
	<string>:musical_score:</string>
	<key>🎽</key>
	<string>:running_shirt_with_sash:</string>
	<key>🎾</key>
	<string>:tennis:</string>
	<key>🎿</key>
	<string>:ski:</string>
	<key>🏀</key>
	<string>:basketball:</string>
	<key>🏁</key>
	<string>:checkered_flag:</string>
	<key>🏂</key>
	<string>:snowboarder:</string>
	<key>🏃</key>
	<string>:runner:</string>
	<key>🏄</key>
	<string>:surfer:</string>
	<key>🏆</key>
	<string>:trophy:</string>
	<key>🏇</key>
	<string>:horse_racing:</string>
	<key>🏈</key>
	<string>:football:</string>
	<key>🏉</key>
	<string>:rugby_football:</string>
	<key>🏊</key>
	<string>:swimmer:</string>
	<key>🏠</key>
	<string>:house:</string>
	<key>🏡</key>
	<string>:house_with_garden:</string>
	<key>🏢</key>
	<string>:office:</string>
	<key>🏣</key>
	<string>:post_office:</string>
	<key>🏤</key>
	<string>:european_post_office:</string>
	<key>🏥</key>
	<string>:hospital:</string>
	<key>🏦</key>
	<string>:bank:</string>
	<key>🏧</key>
	<string>:atm:</string>
	<key>🏨</key>
	<string>:hotel:</string>
	<key>🏩</key>
	<string>:love_hotel:</string>
	<key>🏪</key>
	<string>:convenience_store:</string>
	<key>🏫</key>
	<string>:school:</string>
	<key>🏬</key>
	<string>:department_store:</string>
	<key>🏭</key>
	<string>:factory:</string>
	<key>🏮</key>
	<string>:izakaya_lantern:</string>
	<key>🏯</key>
	<string>:japanese_castle:</string>
	<key>🏰</key>
	<string>:european_castle:</string>
	<key>🏻</key>
	<string>:skin-tone-2:</string>
	<key>🏼</key>
	<string>:skin-tone-3:</string>
	<key>🏽</key>
	<string>:skin-tone-4:</string>
	<key>🏾</key>
	<string>:skin-tone-5:</string>
	<key>🏿</key>
	<string>:skin-tone-6:</string>
	<key>🐀</key>
	<string>:rat:</string>
	<key>🐁</key>
	<string>:mouse2:</string>
	<key>🐂</key>
	<string>:ox:</string>
	<key>🐃</key>
	<string>:water_buffalo:</string>
	<key>🐄</key>
	<string>:cow2:</string>
	<key>🐅</key>
	<string>:tiger2:</string>
	<key>🐆</key>
	<string>:leopard:</string>
	<key>🐇</key>
	<string>:rabbit2:</string>
	<key>🐈</key>
	<string>:cat2:</string>
	<key>🐉</key>
	<string>:dragon:</string>
	<key>🐊</key>
	<string>:crocodile:</string>
	<key>🐋</key>
	<string>:whale2:</string>
	<key>🐌</key>
	<string>:snail:</string>
	<key>🐍</key>
	<string>:snake:</string>
	<key>🐎</key>
	<string>:racehorse:</string>
	<key>🐏</key>
	<string>:ram:</string>
	<key>🐐</key>
	<string>:goat:</string>
	<key>🐑</key>
	<string>:sheep:</string>
	<key>🐒</key>
	<string>:monkey:</string>
	<key>🐓</key>
	<string>:rooster:</string>
	<key>🐔</key>
	<string>:chicken:</string>
	<key>🐕</key>
	<string>:dog2:</string>
	<key>🐖</key>
	<string>:pig2:</string>
	<key>🐗</key>
	<string>:boar:</string>
	<key>🐘</key>
	<string>:elephant:</string>
	<key>🐙</key>
	<string>:octopus:</string>
	<key>🐚</key>
	<string>:shell:</string>
	<key>🐛</key>
	<string>:bug:</string>
	<key>🐜</key>
	<string>:ant:</string>
	<key>🐝</key>
	<string>:bee:</string>
	<key>🐞</key>
	<string>:beetle:</string>
	<key>🐟</key>
	<string>:fish:</string>
	<key>🐠</key>
	<string>:tropical_fish:</string>
	<key>🐡</key>
	<string>:blowfish:</string>
	<key>🐢</key>
	<string>:turtle:</string>
	<key>🐣</key>
	<string>:hatching_chick:</string>
	<key>🐤</key>
	<string>:baby_chick:</string>
	<key>🐥</key>
	<string>:hatched_chick:</string>
	<key>🐦</key>
	<string>:bird:</string>
	<key>🐧</key>
	<string>:penguin:</string>
	<key>🐨</key>
	<string>:koala:</string>
	<key>🐩</key>
	<string>:poodle:</string>
	<key>🐪</key>
	<string>:dromedary_camel:</string>
	<key>🐫</key>
	<string>:camel:</string>
	<key>🐬</key>
	<string>:dolphin:</string>
	<key>🐭</key>
	<string>:mouse:</string>
	<key>🐮</key>
	<string>:cow:</string>
	<key>🐯</key>
	<string>:tiger:</string>
	<key>🐰</key>
	<string>:rabbit:</string>
	<key>🐱</key>
	<string>:cat:</string>
	<key>🐲</key>
	<string>:dragon_face:</string>
	<key>🐳</key>
	<string>:whale:</string>
	<key>🐴</key>
	<string>:horse:</string>
	<key>🐵</key>
	<string>:monkey_face:</string>
	<key>🐶</key>
	<string>:dog:</string>
	<key>🐷</key>
	<string>:pig:</string>
	<key>🐸</key>
	<string>:frog:</string>
	<key>🐹</key>
	<string>:hamster:</string>
	<key>🐺</key>
	<string>:wolf:</string>
	<key>🐻</key>
	<string>:bear:</string>
	<key>🐼</key>
	<string>:panda_face:</string>
	<key>🐽</key>
	<string>:pig_nose:</string>
	<key>🐾</key>
	<string>:feet:</string>
	<key>👀</key>
	<string>:eyes:</string>
	<key>👂</key>
	<string>:ear:</string>
	<key>👃</key>
	<string>:nose:</string>
	<key>👄</key>
	<string>:lips:</string>
	<key>👅</key>
	<string>:tongue:</string>
	<key>👆</key>
	<string>:point_up_2:</string>
	<key>👇</key>
	<string>:point_down:</string>
	<key>👈</key>
	<string>:point_left:</string>
	<key>👉</key>
	<string>:point_right:</string>
	<key>👊</key>
	<string>:facepunch:</string>
	<key>👋</key>
	<string>:wave:</string>
	<key>👌</key>
	<string>:ok_hand:</string>
	<key>👍</key>
	<string>:+1:</string>
	<key>👎</key>
	<string>:-1:</string>
	<key>👏</key>
	<string>:clap:</string>
	<key>👐</key>
	<string>:open_hands:</string>
	<key>👑</key>
	<string>:crown:</string>
	<key>👒</key>
	<string>:womans_hat:</string>
	<key>👓</key>
	<string>:eyeglasses:</string>
	<key>👔</key>
	<string>:necktie:</string>
	<key>👕</key>
	<string>:shirt:</string>
	<key>👖</key>
	<string>:jeans:</string>
	<key>👗</key>
	<string>:dress:</string>
	<key>👘</key>
	<string>:kimono:</string>
	<key>👙</key>
	<string>:bikini:</string>
	<key>👚</key>
	<string>:womans_clothes:</string>
	<key>👛</key>
	<string>:purse:</string>
	<key>👜</key>
	<string>:handbag:</string>
	<key>👝</key>
	<string>:pouch:</string>
	<key>👞</key>
	<string>:mans_shoe:</string>
	<key>👟</key>
	<string>:athletic_shoe:</string>
	<key>👠</key>
	<string>:high_heel:</string>
	<key>👡</key>
	<string>:sandal:</string>
	<key>👢</key>
	<string>:boot:</string>
	<key>👣</key>
	<string>:footprints:</string>
	<key>👤</key>
	<string>:bust_in_silhouette:</string>
	<key>👥</key>
	<string>:busts_in_silhouette:</string>
	<key>👦</key>
	<string>:boy:</string>
	<key>👧</key>
	<string>:girl:</string>
	<key>👨</key>
	<string>:man:</string>
	<key>👩</key>
	<string>:woman:</string>
	<key>👪</key>
	<string>:family:</string>
	<key>👫</key>
	<string>:couple:</string>
	<key>👬</key>
	<string>:two_men_holding_hands:</string>
	<key>👭</key>
	<string>:two_women_holding_hands:</string>
	<key>👮</key>
	<string>:cop:</string>
	<key>👯</key>
	<string>:dancers:</string>
	<key>👰</key>
	<string>:bride_with_veil:</string>
	<key>👱</key>
	<string>:person_with_blond_hair:</string>
	<key>👲</key>
	<string>:man_with_gua_pi_mao:</string>
	<key>👳</key>
	<string>:man_with_turban:</string>
	<key>👴</key>
	<string>:older_man:</string>
	<key>👵</key>
	<string>:older_woman:</string>
	<key>👶</key>
	<string>:baby:</string>
	<key>👷</key>
	<string>:construction_worker:</string>
	<key>👸</key>
	<string>:princess:</string>
	<key>👹</key>
	<string>:japanese_ogre:</string>
	<key>👺</key>
	<string>:japanese_goblin:</string>
	<key>👻</key>
	<string>:ghost:</string>
	<key>👼</key>
	<string>:angel:</string>
	<key>👽</key>
	<string>:alien:</string>
	<key>👾</key>
	<string>:space_invader:</string>
	<key>👿</key>
	<string>:imp:</string>
	<key>💀</key>
	<string>:skull:</string>
	<key>💁</key>
	<string>:information_desk_person:</string>
	<key>💂</key>
	<string>:guardsman:</string>
	<key>💃</key>
	<string>:dancer:</string>
	<key>💄</key>
	<string>:lipstick:</string>
	<key>💅</key>
	<string>:nail_care:</string>
	<key>💆</key>
	<string>:massage:</string>
	<key>💇</key>
	<string>:haircut:</string>
	<key>💈</key>
	<string>:barber:</string>
	<key>💉</key>
	<string>:syringe:</string>
	<key>💊</key>
	<string>:pill:</string>
	<key>💋</key>
	<string>:kiss:</string>
	<key>💌</key>
	<string>:love_letter:</string>
	<key>💍</key>
	<string>:ring:</string>
	<key>💎</key>
	<string>:gem:</string>
	<key>💏</key>
	<string>:couplekiss:</string>
	<key>💐</key>
	<string>:bouquet:</string>
	<key>💑</key>
	<string>:couple_with_heart:</string>
	<key>💒</key>
	<string>:wedding:</string>
	<key>💓</key>
	<string>:heartbeat:</string>
	<key>💔</key>
	<string>:broken_heart:</string>
	<key>💕</key>
	<string>:two_hearts:</string>
	<key>💖</key>
	<string>:sparkling_heart:</string>
	<key>💗</key>
	<string>:heartpulse:</string>
	<key>💘</key>
	<string>:cupid:</string>
	<key>💙</key>
	<string>:blue_heart:</string>
	<key>💚</key>
	<string>:green_heart:</string>
	<key>💛</key>
	<string>:yellow_heart:</string>
	<key>💜</key>
	<string>:purple_heart:</string>
	<key>💝</key>
	<string>:gift_heart:</string>
	<key>💞</key>
	<string>:revolving_hearts:</string>
	<key>💟</key>
	<string>:heart_decoration:</string>
	<key>💠</key>
	<string>:diamond_shape_with_a_dot_inside:</string>
	<key>💡</key>
	<string>:bulb:</string>
	<key>💢</key>
	<string>:anger:</string>
	<key>💣</key>
	<string>:bomb:</string>
	<key>💤</key>
	<string>:zzz:</string>
	<key>💥</key>
	<string>:boom:</string>
	<key>💦</key>
	<string>:sweat_drops:</string>
	<key>💧</key>
	<string>:droplet:</string>
	<key>💨</key>
	<string>:dash:</string>
	<key>💩</key>
	<string>:hankey:</string>
	<key>💪</key>
	<string>:muscle:</string>
	<key>💫</key>
	<string>:dizzy:</string>
	<key>💬</key>
	<string>:speech_balloon:</string>
	<key>💭</key>
	<string>:thought_balloon:</string>
	<key>💮</key>
	<string>:white_flower:</string>
	<key>💯</key>
	<string>:100:</string>
	<key>💰</key>
	<string>:moneybag:</string>
	<key>💱</key>
	<string>:currency_exchange:</string>
	<key>💲</key>
	<string>:heavy_dollar_sign:</string>
	<key>💳</key>
	<string>:credit_card:</string>
	<key>💴</key>
	<string>:yen:</string>
	<key>💵</key>
	<string>:dollar:</string>
	<key>💶</key>
	<string>:euro:</string>
	<key>💷</key>
	<string>:pound:</string>
	<key>💸</key>
	<string>:money_with_wings:</string>
	<key>💹</key>
	<string>:chart:</string>
	<key>💺</key>
	<string>:seat:</string>
	<key>💻</key>
	<string>:computer:</string>
	<key>💼</key>
	<string>:briefcase:</string>
	<key>💽</key>
	<string>:minidisc:</string>
	<key>💾</key>
	<string>:floppy_disk:</string>
	<key>💿</key>
	<string>:cd:</string>
	<key>📀</key>
	<string>:dvd:</string>
	<key>📁</key>
	<string>:file_folder:</string>
	<key>📂</key>
	<string>:open_file_folder:</string>
	<key>📃</key>
	<string>:page_with_curl:</string>
	<key>📄</key>
	<string>:page_facing_up:</string>
	<key>📅</key>
	<string>:date:</string>
	<key>📆</key>
	<string>:calendar:</string>
	<key>📇</key>
	<string>:card_index:</string>
	<key>📈</key>
	<string>:chart_with_upwards_trend:</string>
	<key>📉</key>
	<string>:chart_with_downwards_trend:</string>
	<key>📊</key>
	<string>:bar_chart:</string>
	<key>📋</key>
	<string>:clipboard:</string>
	<key>📌</key>
	<string>:pushpin:</string>
	<key>📍</key>
	<string>:round_pushpin:</string>
	<key>📎</key>
	<string>:paperclip:</string>
	<key>📏</key>
	<string>:straight_ruler:</string>
	<key>📐</key>
	<string>:triangular_ruler:</string>
	<key>📑</key>
	<string>:bookmark_tabs:</string>
	<key>📒</key>
	<string>:ledger:</string>
	<key>📓</key>
	<string>:notebook:</string>
	<key>📔</key>
	<string>:notebook_with_decorative_cover:</string>
	<key>📕</key>
	<string>:closed_book:</string>
	<key>📖</key>
	<string>:book:</string>
	<key>📗</key>
	<string>:green_book:</string>
	<key>📘</key>
	<string>:blue_book:</string>
	<key>📙</key>
	<string>:orange_book:</string>
	<key>📚</key>
	<string>:books:</string>
	<key>📛</key>
	<string>:name_badge:</string>
	<key>📜</key>
	<string>:scroll:</string>
	<key>📝</key>
	<string>:memo:</string>
	<key>📞</key>
	<string>:telephone_receiver:</string>
	<key>📟</key>
	<string>:pager:</string>
	<key>📠</key>
	<string>:fax:</string>
	<key>📡</key>
	<string>:satellite:</string>
	<key>📢</key>
	<string>:loudspeaker:</string>
	<key>📣</key>
	<string>:mega:</string>
	<key>📤</key>
	<string>:outbox_tray:</string>
	<key>📥</key>
	<string>:inbox_tray:</string>
	<key>📦</key>
	<string>:package:</string>
	<key>📧</key>
	<string>:e-mail:</string>
	<key>📨</key>
	<string>:incoming_envelope:</string>
	<key>📩</key>
	<string>:envelope_with_arrow:</string>
	<key>📪</key>
	<string>:mailbox_closed:</string>
	<key>📫</key>
	<string>:mailbox:</string>
	<key>📬</key>
	<string>:mailbox_with_mail:</string>
	<key>📭</key>
	<string>:mailbox_with_no_mail:</string>
	<key>📮</key>
	<string>:postbox:</string>
	<key>📯</key>
	<string>:postal_horn:</string>
	<key>📰</key>
	<string>:newspaper:</string>
	<key>📱</key>
	<string>:iphone:</string>
	<key>📲</key>
	<string>:calling:</string>
	<key>📳</key>
	<string>:vibration_mode:</string>
	<key>📴</key>
	<string>:mobile_phone_off:</string>
	<key>📵</key>
	<string>:no_mobile_phones:</string>
	<key>📶</key>
	<string>:signal_strength:</string>
	<key>📷</key>
	<string>:camera:</string>
	<key>📹</key>
	<string>:video_camera:</string>
	<key>📺</key>
	<string>:tv:</string>
	<key>📻</key>
	<string>:radio:</string>
	<key>📼</key>
	<string>:vhs:</string>
	<key>🔀</key>
	<string>:twisted_rightwards_arrows:</string>
	<key>🔁</key>
	<string>:repeat:</string>
	<key>🔂</key>
	<string>:repeat_one:</string>
	<key>🔃</key>
	<string>:arrows_clockwise:</string>
	<key>🔄</key>
	<string>:arrows_counterclockwise:</string>
	<key>🔅</key>
	<string>:low_brightness:</string>
	<key>🔆</key>
	<string>:high_brightness:</string>
	<key>🔇</key>
	<string>:mute:</string>
	<key>🔈</key>
	<string>:speaker:</string>
	<key>🔉</key>
	<string>:sound:</string>
	<key>🔊</key>
	<string>:loud_sound:</string>
	<key>🔋</key>
	<string>:battery:</string>
	<key>🔌</key>
	<string>:electric_plug:</string>
	<key>🔍</key>
	<string>:mag:</string>
	<key>🔎</key>
	<string>:mag_right:</string>
	<key>🔏</key>
	<string>:lock_with_ink_pen:</string>
	<key>🔐</key>
	<string>:closed_lock_with_key:</string>
	<key>🔑</key>
	<string>:key:</string>
	<key>🔒</key>
	<string>:lock:</string>
	<key>🔓</key>
	<string>:unlock:</string>
	<key>🔔</key>
	<string>:bell:</string>
	<key>🔕</key>
	<string>:no_bell:</string>
	<key>🔖</key>
	<string>:bookmark:</string>
	<key>🔗</key>
	<string>:link:</string>
	<key>🔘</key>
	<string>:radio_button:</string>
	<key>🔙</key>
	<string>:back:</string>
	<key>🔚</key>
	<string>:end:</string>
	<key>🔛</key>
	<string>:on:</string>
	<key>🔜</key>
	<string>:soon:</string>
	<key>🔝</key>
	<string>:top:</string>
	<key>🔞</key>
	<string>:underage:</string>
	<key>🔟</key>
	<string>:keycap_ten:</string>
	<key>🔠</key>
	<string>:capital_abcd:</string>
	<key>🔡</key>
	<string>:abcd:</string>
	<key>🔢</key>
	<string>:1234:</string>
	<key>🔣</key>
	<string>:symbols:</string>
	<key>🔤</key>
	<string>:abc:</string>
	<key>🔥</key>
	<string>:fire:</string>
	<key>🔦</key>
	<string>:flashlight:</string>
	<key>🔧</key>
	<string>:wrench:</string>
	<key>🔨</key>
	<string>:hammer:</string>
	<key>🔩</key>
	<string>:nut_and_bolt:</string>
	<key>🔪</key>
	<string>:hocho:</string>
	<key>🔫</key>
	<string>:gun:</string>
	<key>🔬</key>
	<string>:microscope:</string>
	<key>🔭</key>
	<string>:telescope:</string>
	<key>🔮</key>
	<string>:crystal_ball:</string>
	<key>🔯</key>
	<string>:six_pointed_star:</string>
	<key>🔰</key>
	<string>:beginner:</string>
	<key>🔱</key>
	<string>:trident:</string>
	<key>🔲</key>
	<string>:black_square_button:</string>
	<key>🔳</key>
	<string>:white_square_button:</string>
	<key>🔴</key>
	<string>:red_circle:</string>
	<key>🔵</key>
	<string>:large_blue_circle:</string>
	<key>🔶</key>
	<string>:large_orange_diamond:</string>
	<key>🔷</key>
	<string>:large_blue_diamond:</string>
	<key>🔸</key>
	<string>:small_orange_diamond:</string>
	<key>🔹</key>
	<string>:small_blue_diamond:</string>
	<key>🔺</key>
	<string>:small_red_triangle:</string>
	<key>🔻</key>
	<string>:small_red_triangle_down:</string>
	<key>🔼</key>
	<string>:arrow_up_small:</string>
	<key>🔽</key>
	<string>:arrow_down_small:</string>
	<key>🕐</key>
	<string>:clock1:</string>
	<key>🕑</key>
	<string>:clock2:</string>
	<key>🕒</key>
	<string>:clock3:</string>
	<key>🕓</key>
	<string>:clock4:</string>
	<key>🕔</key>
	<string>:clock5:</string>
	<key>🕕</key>
	<string>:clock6:</string>
	<key>🕖</key>
	<string>:clock7:</string>
	<key>🕗</key>
	<string>:clock8:</string>
	<key>🕘</key>
	<string>:clock9:</string>
	<key>🕙</key>
	<string>:clock10:</string>
	<key>🕚</key>
	<string>:clock11:</string>
	<key>🕛</key>
	<string>:clock12:</string>
	<key>🕜</key>
	<string>:clock130:</string>
	<key>🕝</key>
	<string>:clock230:</string>
	<key>🕞</key>
	<string>:clock330:</string>
	<key>🕟</key>
	<string>:clock430:</string>
	<key>🕠</key>
	<string>:clock530:</string>
	<key>🕡</key>
	<string>:clock630:</string>
	<key>🕢</key>
	<string>:clock730:</string>
	<key>🕣</key>
	<string>:clock830:</string>
	<key>🕤</key>
	<string>:clock930:</string>
	<key>🕥</key>
	<string>:clock1030:</string>
	<key>🕦</key>
	<string>:clock1130:</string>
	<key>🕧</key>
	<string>:clock1230:</string>
	<key>🗻</key>
	<string>:mount_fuji:</string>
	<key>🗼</key>
	<string>:tokyo_tower:</string>
	<key>🗽</key>
	<string>:statue_of_liberty:</string>
	<key>🗾</key>
	<string>:japan:</string>
	<key>🗿</key>
	<string>:moyai:</string>
	<key>😀</key>
	<string>:grinning:</string>
	<key>😁</key>
	<string>:grin:</string>
	<key>😂</key>
	<string>:joy:</string>
	<key>😃</key>
	<string>:smiley:</string>
	<key>😄</key>
	<string>:smile:</string>
	<key>😅</key>
	<string>:sweat_smile:</string>
	<key>😆</key>
	<string>:laughing:</string>
	<key>😇</key>
	<string>:innocent:</string>
	<key>😈</key>
	<string>:smiling_imp:</string>
	<key>😉</key>
	<string>:wink:</string>
	<key>😊</key>
	<string>:blush:</string>
	<key>😋</key>
	<string>:yum:</string>
	<key>😌</key>
	<string>:relieved:</string>
	<key>😍</key>
	<string>:heart_eyes:</string>
	<key>😎</key>
	<string>:sunglasses:</string>
	<key>😏</key>
	<string>:smirk:</string>
	<key>😐</key>
	<string>:neutral_face:</string>
	<key>😑</key>
	<string>:expressionless:</string>
	<key>😒</key>
	<string>:unamused:</string>
	<key>😓</key>
	<string>:sweat:</string>
	<key>😔</key>
	<string>:pensive:</string>
	<key>😕</key>
	<string>:confused:</string>
	<key>😖</key>
	<string>:confounded:</string>
	<key>😗</key>
	<string>:kissing:</string>
	<key>😘</key>
	<string>:kissing_heart:</string>
	<key>😙</key>
	<string>:kissing_smiling_eyes:</string>
	<key>😚</key>
	<string>:kissing_closed_eyes:</string>
	<key>😛</key>
	<string>:stuck_out_tongue:</string>
	<key>😜</key>
	<string>:stuck_out_tongue_winking_eye:</string>
	<key>😝</key>
	<string>:stuck_out_tongue_closed_eyes:</string>
	<key>😞</key>
	<string>:disappointed:</string>
	<key>😟</key>
	<string>:worried:</string>
	<key>😠</key>
	<string>:angry:</string>
	<key>😡</key>
	<string>:rage:</string>
	<key>😢</key>
	<string>:cry:</string>
	<key>😣</key>
	<string>:persevere:</string>
	<key>😤</key>
	<string>:triumph:</string>
	<key>😥</key>
	<string>:disappointed_relieved:</string>
	<key>😦</key>
	<string>:frowning:</string>
	<key>😧</key>
	<string>:anguished:</string>
	<key>😨</key>
	<string>:fearful:</string>
	<key>😩</key>
	<string>:weary:</string>
	<key>😪</key>
	<string>:sleepy:</string>
	<key>😫</key>
	<string>:tired_face:</string>
	<key>😬</key>
	<string>:grimacing:</string>
	<key>😭</key>
	<string>:sob:</string>
	<key>😮</key>
	<string>:open_mouth:</string>
	<key>😯</key>
	<string>:hushed:</string>
	<key>😰</key>
	<string>:cold_sweat:</string>
	<key>😱</key>
	<string>:scream:</string>
	<key>😲</key>
	<string>:astonished:</string>
	<key>😳</key>
	<string>:flushed:</string>
	<key>😴</key>
	<string>:sleeping:</string>
	<key>😵</key>
	<string>:dizzy_face:</string>
	<key>😶</key>
	<string>:no_mouth:</string>
	<key>😷</key>
	<string>:mask:</string>
	<key>😸</key>
	<string>:smile_cat:</string>
	<key>😹</key>
	<string>:joy_cat:</string>
	<key>😺</key>
	<string>:smiley_cat:</string>
	<key>😻</key>
	<string>:heart_eyes_cat:</string>
	<key>😼</key>
	<string>:smirk_cat:</string>
	<key>😽</key>
	<string>:kissing_cat:</string>
	<key>😾</key>
	<string>:pouting_cat:</string>
	<key>😿</key>
	<string>:crying_cat_face:</string>
	<key>🙀</key>
	<string>:scream_cat:</string>
	<key>🙅</key>
	<string>:no_good:</string>
	<key>🙆</key>
	<string>:ok_woman:</string>
	<key>🙇</key>
	<string>:bow:</string>
	<key>🙈</key>
	<string>:see_no_evil:</string>
	<key>🙉</key>
	<string>:hear_no_evil:</string>
	<key>🙊</key>
	<string>:speak_no_evil:</string>
	<key>🙋</key>
	<string>:raising_hand:</string>
	<key>🙌</key>
	<string>:raised_hands:</string>
	<key>🙍</key>
	<string>:person_frowning:</string>
	<key>🙎</key>
	<string>:person_with_pouting_face:</string>
	<key>🙏</key>
	<string>:pray:</string>
	<key>🚀</key>
	<string>:rocket:</string>
	<key>🚁</key>
	<string>:helicopter:</string>
	<key>🚂</key>
	<string>:steam_locomotive:</string>
	<key>🚃</key>
	<string>:railway_car:</string>
	<key>🚄</key>
	<string>:bullettrain_side:</string>
	<key>🚅</key>
	<string>:bullettrain_front:</string>
	<key>🚆</key>
	<string>:train2:</string>
	<key>🚇</key>
	<string>:metro:</string>
	<key>🚈</key>
	<string>:light_rail:</string>
	<key>🚉</key>
	<string>:station:</string>
	<key>🚊</key>
	<string>:tram:</string>
	<key>🚋</key>
	<string>:train:</string>
	<key>🚌</key>
	<string>:bus:</string>
	<key>🚍</key>
	<string>:oncoming_bus:</string>
	<key>🚎</key>
	<string>:trolleybus:</string>
	<key>🚏</key>
	<string>:busstop:</string>
	<key>🚐</key>
	<string>:minibus:</string>
	<key>🚑</key>
	<string>:ambulance:</string>
	<key>🚒</key>
	<string>:fire_engine:</string>
	<key>🚓</key>
	<string>:police_car:</string>
	<key>🚔</key>
	<string>:oncoming_police_car:</string>
	<key>🚕</key>
	<string>:taxi:</string>
	<key>🚖</key>
	<string>:oncoming_taxi:</string>
	<key>🚗</key>
	<string>:car:</string>
	<key>🚘</key>
	<string>:oncoming_automobile:</string>
	<key>🚙</key>
	<string>:blue_car:</string>
	<key>🚚</key>
	<string>:truck:</string>
	<key>🚛</key>
	<string>:articulated_lorry:</string>
	<key>🚜</key>
	<string>:tractor:</string>
	<key>🚝</key>
	<string>:monorail:</string>
	<key>🚞</key>
	<string>:mountain_railway:</string>
	<key>🚟</key>
	<string>:suspension_railway:</string>
	<key>🚠</key>
	<string>:mountain_cableway:</string>
	<key>🚡</key>
	<string>:aerial_tramway:</string>
	<key>🚢</key>
	<string>:ship:</string>
	<key>🚣</key>
	<string>:rowboat:</string>
	<key>🚤</key>
	<string>:speedboat:</string>
	<key>🚥</key>
	<string>:traffic_light:</string>
	<key>🚦</key>
	<string>:vertical_traffic_light:</string>
	<key>🚧</key>
	<string>:construction:</string>
	<key>🚨</key>
	<string>:rotating_light:</string>
	<key>🚩</key>
	<string>:triangular_flag_on_post:</string>
	<key>🚪</key>
	<string>:door:</string>
	<key>🚫</key>
	<string>:no_entry_sign:</string>
	<key>🚬</key>
	<string>:smoking:</string>
	<key>🚭</key>
	<string>:no_smoking:</string>
	<key>🚮</key>
	<string>:put_litter_in_its_place:</string>
	<key>🚯</key>
	<string>:do_not_litter:</string>
	<key>🚰</key>
	<string>:potable_water:</string>
	<key>🚱</key>
	<string>:non-potable_water:</string>
	<key>🚲</key>
	<string>:bike:</string>
	<key>🚳</key>
	<string>:no_bicycles:</string>
	<key>🚴</key>
	<string>:bicyclist:</string>
	<key>🚵</key>
	<string>:mountain_bicyclist:</string>
	<key>🚶</key>
	<string>:walking:</string>
	<key>🚷</key>
	<string>:no_pedestrians:</string>
	<key>🚸</key>
	<string>:children_crossing:</string>
	<key>🚹</key>
	<string>:mens:</string>
	<key>🚺</key>
	<string>:womens:</string>
	<key>🚻</key>
	<string>:restroom:</string>
	<key>🚼</key>
	<string>:baby_symbol:</string>
	<key>🚽</key>
	<string>:toilet:</string>
	<key>🚾</key>
	<string>:wc:</string>
	<key>🚿</key>
	<string>:shower:</string>
	<key>🛀</key>
	<string>:bath:</string>
	<key>🛁</key>
	<string>:bathtub:</string>
	<key>🛂</key>
	<string>:passport_control:</string>
	<key>🛃</key>
	<string>:customs:</string>
	<key>🛄</key>
	<string>:baggage_claim:</string>
	<key>🛅</key>
	<string>:left_luggage:</string>
	<key>#⃣</key>
	<string>:hash:</string>
	<key>0⃣</key>
	<string>:zero:</string>
	<key>1⃣</key>
	<string>:one:</string>
	<key>2⃣</key>
	<string>:two:</string>
	<key>3⃣</key>
	<string>:three:</string>
	<key>4⃣</key>
	<string>:four:</string>
	<key>5⃣</key>
	<string>:five:</string>
	<key>6⃣</key>
	<string>:six:</string>
	<key>7⃣</key>
	<string>:seven:</string>
	<key>8⃣</key>
	<string>:eight:</string>
	<key>9⃣</key>
	<string>:nine:</string>
	<key>🇦🇪</key>
	<string>:flag-ae:</string>
	<key>🇦🇹</key>
	<string>:flag-at:</string>
	<key>🇦🇺</key>
	<string>:flag-au:</string>
	<key>🇧🇪</key>
	<string>:flag-be:</string>
	<key>🇧🇷</key>
	<string>:flag-br:</string>
	<key>🇨🇦</key>
	<string>:flag-ca:</string>
	<key>🇨🇭</key>
	<string>:flag-ch:</string>
	<key>🇨🇱</key>
	<string>:flag-cl:</string>
	<key>🇨🇳</key>
	<string>:flag-cn:</string>
	<key>🇨🇴</key>
	<string>:flag-co:</string>
	<key>🇩🇪</key>
	<string>:flag-de:</string>
	<key>🇩🇰</key>
	<string>:flag-dk:</string>
	<key>🇪🇸</key>
	<string>:flag-es:</string>
	<key>🇫🇮</key>
	<string>:flag-fi:</string>
	<key>🇫🇷</key>
	<string>:flag-fr:</string>
	<key>🇬🇧</key>
	<string>:flag-gb:</string>
	<key>🇭🇰</key>
	<string>:flag-hk:</string>
	<key>🇮🇩</key>
	<string>:flag-id:</string>
	<key>🇮🇪</key>
	<string>:flag-ie:</string>
	<key>🇮🇱</key>
	<string>:flag-il:</string>
	<key>🇮🇳</key>
	<string>:flag-in:</string>
	<key>🇮🇹</key>
	<string>:flag-it:</string>
	<key>🇯🇵</key>
	<string>:flag-jp:</string>
	<key>🇰🇷</key>
	<string>:flag-kr:</string>
	<key>🇲🇴</key>
	<string>:flag-mo:</string>
	<key>🇲🇽</key>
	<string>:flag-mx:</string>
	<key>🇲🇾</key>
	<string>:flag-my:</string>
	<key>🇳🇱</key>
	<string>:flag-nl:</string>
	<key>🇳🇴</key>
	<string>:flag-no:</string>
	<key>🇳🇿</key>
	<string>:flag-nz:</string>
	<key>🇵🇭</key>
	<string>:flag-ph:</string>
	<key>🇵🇱</key>
	<string>:flag-pl:</string>
	<key>🇵🇷</key>
	<string>:flag-pr:</string>
	<key>🇵🇹</key>
	<string>:flag-pt:</string>
	<key>🇷🇺</key>
	<string>:flag-ru:</string>
	<key>🇸🇦</key>
	<string>:flag-sa:</string>
	<key>🇸🇪</key>
	<string>:flag-se:</string>
	<key>🇸🇬</key>
	<string>:flag-sg:</string>
	<key>🇹🇷</key>
	<string>:flag-tr:</string>
	<key>🇺🇸</key>
	<string>:flag-us:</string>
	<key>🇻🇳</key>
	<string>:flag-vn:</string>
	<key>🇿🇦</key>
	<string>:flag-za:</string>
	<key>👨‍👨‍👦</key>
	<string>:man-man-boy:</string>
	<key>👨‍👨‍👦‍👦</key>
	<string>:man-man-boy-boy:</string>
	<key>👨‍👨‍👧</key>
	<string>:man-man-girl:</string>
	<key>👨‍👨‍👧‍👦</key>
	<string>:man-man-girl-boy:</string>
	<key>👨‍👨‍👧‍👧</key>
	<string>:man-man-girl-girl:</string>
	<key>👨‍👩‍👦</key>
	<string>:man-woman-boy:</string>
	<key>👨‍👩‍👦‍👦</key>
	<string>:man-woman-boy-boy:</string>
	<key>👨‍👩‍👧</key>
	<string>:man-woman-girl:</string>
	<key>👨‍👩‍👧‍👧</key>
	<string>:man-woman-girl-girl:</string>
	<key>👨‍❤️‍👨</key>
	<string>:man-heart-man:</string>
	<key>👨‍❤️‍💋‍👨</key>
	<string>:man-kiss-man:</string>
	<key>👩‍👩‍👦</key>
	<string>:woman-woman-boy:</string>
	<key>👩‍👩‍👦‍👦</key>
	<string>:woman-woman-boy-boy:</string>
	<key>👩‍👩‍👧</key>
	<string>:woman-woman-girl:</string>
	<key>👩‍👩‍👧‍👦</key>
	<string>:woman-woman-girl-boy:</string>
	<key>👩‍👩‍👧‍👧</key>
	<string>:woman-woman-girl-girl:</string>
	<key>👩‍❤️‍👩</key>
	<string>:woman-heart-woman:</string>
	<key>👩‍❤️‍💋‍👩</key>
	<string>:woman-kiss-woman:</string>
	<key>☺️</key>
	<string>:relaxed:</string>
</dict>
</plist>
